 ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    padding: 5px 0;
    margin-left: 150px;
}

 a {
    font-size: 1.5em;
    color: chocolate;
}

.NavBar .MobileNav {
    display:none ;
}

@media (max-width:780px) {
    .NavBar .Navigation {
        display: none;
    }

    .NavBar .MobileNav {
        display: flex;
        align-items: center;  
    }
    .MobileNav .Hamburger {
        position: absolute;
        right: 5%;
        top: 10px;
        cursor: pointer;
    }
    .NavBar ul {
        flex-direction: column;
        position: absolute;
        right: 20px;
        top: 35px;
        background-color: rgba(200, 198, 194, 0.5);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 15px;
    }

}

/* @keyframes border-bottom {
    from { border-bottom:none; }
    to { border-bottom:2px black solid;}
}

.navbar:hover { 
    animation: border-bottom 1s linear 0.2 normal;
} */