header ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    padding-top: 30px;
}
header {
    
    border-bottom: 2px solid black;
    height: 10vh;
}
header img {
    width: 200px;
    position : absolute;
    top: -50px;
    z-index: -1;
}
header a {
    font-size: 1.5em;
    color: chocolate;
}
.card {
    width: 24%;
    border: 2px black solid;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(233, 217, 233);
}

.cardContainer h2 {
    width: 100%;
    text-align: center;
    color: tomato;
}
.cardContainer h3 {
    margin: 10px;
}
a {
    text-decoration: none;
}



footer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("./assets/flowers.jpg");
    color: aliceblue;
    height: 12vh;
}

.about {
    background-image: url("./assets/makeup.jpg");
    background-position: center;
    background-size: cover;
    height:75vh;
}
.about a {
    border : 1px solid #666;
    padding: 5px;
    border-radius: 10px;
}
.login {
    background-image: url("./assets/instrument.jpg");
    background-position: left  75%;
    background-size: cover;
}
.login h2 {
    margin: 0;
    padding: 10px;
}

.cartItem {
    border-bottom: 1px solid #666;
}

section {
    min-height: 75vh;
}

.noItem {
    text-align: center;
    padding-top: 300px;
    margin: 0;
    
}
.item {
    border: 1px solid #666;
    margin: 20px;
}
.item span {
    margin:20px;
}

label {
    display: block;
}

.btn {
    margin:0 5px ;
    padding:5px;
}

.total {
    border : 1px solid #666;
    border-radius: 10px;
    position : fixed;
    color: brown;
    font-size: 1.4rem;
    right: 40px;    
    bottom: 200px;
}

.checkout {
    text-align: center;
}

.error {
    color: red;
    font-size:1.4em;
}
.product-detail {
    background-image: url("./assets/makecolor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 60%;
}
.product-detail h1, .product-detail span, .product-detail h3{
    padding:20px 0;
    margin: 0;
}
.description {
    color: bisque;
    width: 50%;
}
.to-shop {
    width: 50%;
    display: block;
    margin:40px auto;
    height: 2em;
    
}


/* product flip image */

.flip-box {
    width: 75%;
    height: 250px;
    margin: 100px auto;
    perspective: 1000px;
}

.flip-img, .front, .back {
    width: 100%;
    height: 100%;

}


.flip-img {
    position: relative;
    transform-style: preserve-3d;
    transition: .5s;
    box-shadow: 0px 0px 10px 2px gray;
    border: 10px solid white;
    border-radius: 10px;
}
/* front and back img/text position absolute to the parent div
  (on top of each other*/
.front {
    position: absolute;
    cursor: pointer;
    backface-visibility: hidden;
}
.front img {
    width: 100%;
    height: 100%;
}

.back {
    transform: rotateY(180deg);
    padding: 20px;
    font-weight: 900;
    position: absolute;
    box-sizing: border-box;
}


.flip-box:hover .flip-img{
    transform: rotateY(180deg);

}