header ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
header {
    border-bottom: 2px solid black;
    height: 10vh;
}
header img {
    width: 200px;
    position : absolute;
    top: -50px;
    z-index: -1;
}
header a {
    font-size: 1.5em;
}
.card {
    width: 32%;
    border: 2px black solid;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(233, 217, 233);
}

.cardContainer h2 {
    width: 100%;
    text-align: center;
    color: tomato;
}
a {
    text-decoration: none;
}


footer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("./assets/flowers.jpg");
    color: aliceblue;
    height: 10vh;
}

.about {
    background-image: url("./assets/makeup.jpg");
    background-position: center;
    background-size: cover;
    height:75vh;
}

h1, h2, h3 {
    margin :0px;
}

section {
    min-height: 75vh;
}

.noItem {
    text-align: center;
    padding-top: 300px;
    
}

label {
    display: block;
}
.total {
    border : 1px solid #666;
    position : fixed;
    color: lime;
    font-size: 1.4rem;
    right: 40px;    
    bottom: 200px;
}

.checkout {
    text-align: center;
}

.error {
    color: red;
    font-size:1.2em;
}

